body {
    margin: 0px auto;
}

header {
    box-sizing: border-box;
    border: 1px solid black;
    height: 100px;
}

#data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    /* padding: 15px 15px 15px 15px; */
}

/* .box {
    
} */